.container {
  width: 100%;
  position: relative;
}

.table {
  width: 100%;
  border-color: #f0f0f0;
  border-collapse: collapse;

  thead {
    tr {
      th {
        padding: 1rem;
        background-color: #fafafa;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            color: var(--primary-color);
            cursor: pointer;
          }
        }
      }
    }
  }

  tbody {
    background-color: #fff;
    tr {
      td {
        padding: 1rem;
      }

      &:hover {
        cursor: pointer;
        background-color: #fafafa;
      }
    }
  }
}

.expandedRow {
  cursor: default !important;
  background-color: #fafafa;

  td {
    padding-left: 3rem !important;
  }
}
