:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f3f6;
  --primary-color: #1e88e5;
}

.container {
  padding: 0 5rem;
}

.rows__selector {
  display: flex;
  background-color: #fff;
  border: 0.1em solid #fafafa;
  padding: 0 1em;
  justify-content: space-between;

  select {
    padding: 0 2em;
    border: none;
    background-color: transparent;
    font-size: 1.08rem;
  }
}

.cell__center {
  text-align: center;
}

.person__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
