:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f3f6;
}

.container {
  padding: 0 1rem;
}

.person__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
